<div id="about" class="app-about">
  <div class="image-container h-100 d-flex">
    <!-- <picture>
    <source srcset="./../../assets/croissant.jpg" type="image/jpg" />
    <img
      src="./../../assets/croissant.jpg"
      class="image-cover"
      alt="background-image"
    />
  </picture> -->
  <div class="blur h-100 d-flex">
    <div class="d-flex flex-column w-75 m-auto p-4 about-text">
      <h1>WELCOME!</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae risus
        vel justo aliquet ultrices sit amet sit amet arcu. Integer sem arcu,
        eleifend ut quam at, sagittis dignissim lorem. Nunc eu ex libero.
        Aliquam luctus semper felis, in auctor nunc ultricies eu. Nam tincidunt
        risus eget nibh semper, sed ultricies dolor volutpat. Interdum et
        malesuada fames ac ante ipsum primis in faucibus. Morbi eu iaculis
        tellus.
      </p>
    </div>
  </div>

  </div>
</div>
