.app-about {
  height: var(--mobile-about-height);
  background-color: black;
  .image-container {
    margin-top: calc(var(--mobile-about-height) * -1);
    .blur {
      background: rgba(251, 200, 167, 0.2);
      backdrop-filter: blur(4px);
      .about-text {
        background: rgba(248, 234, 231, 0.8);
        //background-color: rgba(var(--bakery-tertiary-orange), 0.8);
        border-radius: 1.5rem !important;

        h1 {
          color: var(--bakery-primary-orange);
        }

        p {
          color: var(--bakery-primary-brown);
        }
      }
    }
  }
}
