.app-menu-details {
  .title {
    color: var(--bakery-primary-orange);
  }
  .time {
    color: var(--bakery-primary-brown);
  }
  .items {
    height: calc(var(--menu-height) * 0.65);
    overflow-y: scroll;
    .menu-item {
      &-header {
        color: var(--bakery-secondary-orange);
        &-price {
          font-size: 12px;
        }
      }
      &-description {
        font-size: 12px;
        color: var(--bakery-primary-brown);
      }
      &-dietary {
        font-size: 10px;
        color: var(--bakery-slate);
      }
    }
  }
}

@media (min-width: 768px) {
  .app-menu-details {
    width: 75%;
  }
}

@media (min-width: 992px) {
  .app-menu-details {
    width: 80%;
    .time {
      font-size: 18px;
    }
    .items {
      .menu-item {
        &-header {
          &-price {
            font-size: 18px;
          }
        }
        &-description {
          font-size: 18px;
        }
        &-dietary {
          font-size: 16px;
        }
      }
    }
  }
}
