.app-menu{
    height: var(--menu-height);
    background-color: var(--bakery-secondary-brown);
    .disclaimer{
      background-color: var(--bakery-primary-orange);
      font-size: 10px;
      p{
        color: var(--bakery-secondary-brown);
        margin-bottom: 0px;
      }
    }
}
