<div id="menu" class="app-menu d-flex flex-column py-5">
  <app-menu-carousel></app-menu-carousel>
  <div class="disclaimer d-flex flex-column p-2">
    <div class="d-flex justify-content-around">
      <p class="text-uppercase">NF: Nut Free</p>
      <p class="text-uppercase">VG: Vegeterian</p>
      <p class="text-uppercase">DF: Dairy Free</p>
      <p class="text-uppercase">V: Vegan</p>
    </div>
    <p class="fst-italic text-center mt-2">
      NOTE: We can try to cater to other dietary requirements. Please talk to us.
    </p>
  </div>
</div>
