<div id="contact" class="app-contact d-flex">
  <div
    class="contact-text py-4 px-2 text-center justify-content-center d-flex flex-column"
  >
    <h1>Contact Us!</h1>
    <p>
      (04) 123 4567 <br />
      BEANSEATERY@GMAIL.COM
    </p>
    <h5>Opening Hours:</h5>
    <p>MONDAY - FRIDAY 9am - 2pm | 6pm - 9pm <br />SATURDAY - SUNDAY CLOSED</p>
    <h5>Location:</h5>
    <p>
      123 COZY PLACE, GF CENTRAL <br />
      WELLINGTON
    </p>
    <div class="d-flex justify-content-center">
      <a class="p-1" href="https://www.instagram.com"><img src="assets/insta.png" class="w-100 rounded-3" /></a
      ><a class="p-1" href="https://www.facebook.com"><img src="assets/facebook.png" class="w-100 rounded-3" /></a>
    </div>
  </div>
  <!-- <img src="assets/cafe2.jpg" class="contact-image h-100" /> -->
  <div class="contact-image h-100"></div>
</div>
