<div id="carouselExampleControls" data-bs-interval="false" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner" *ngFor="let menu of menus; let i = index">
    <div class="carousel-item" *ngClass="{'active': i === 0}">
      <app-menu-detail [title]="menu.title" [time]="menu.time" [menuItems]="menu.menuItems"></app-menu-detail>
    </div>
    <!-- <div class="carousel-item active">
      <app-menu-detail [title]="'Breakfast'" [time]="'Until 12pm'" [menuItems]="breakfastMenuItems"></app-menu-detail>
    </div>
    <div class="carousel-item">
      <app-menu-detail [title]="'Lunch'" [time]="'12pm to 2pm'" [menuItems]="lunchMenuItems"></app-menu-detail>
    </div>
    <div class="carousel-item">
      <app-menu-detail [title]="'Dinner'" [time]="'6pm to 9pm'" [menuItems]="dinnerMenuItems"></app-menu-detail>
    </div>
    <div class="carousel-item">
      <app-menu-detail [title]="'Dessert'" [time]="''" [menuItems]="dessertMenuItems"></app-menu-detail>
    </div>
    <div class="carousel-item">
      <app-menu-detail [title]="'Drinks'" [time]="''" [menuItems]="drinkMenuItems"></app-menu-detail>
    </div> -->
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
